body,html {
 height:100%;
 margin:0;
 padding:0;
 width:100%
}
body {
 font-family:Helvetica,sans-serif;
 padding: 0 1rem;
}
*,:after,:before {
 box-sizing:border-box;
}
hr {
 height:1px;
 background-color:#efefef;
 border:0
}
li+li {
 margin-top:10px;
}
p {
  max-width: 40rem;
}
